<tr>
    <td><button ng-click="editar()" class="btn btn-success btn-sm" type="button" ng-hide="ajaxFlag || editFlag"><i class="glyphicon glyphicon-pencil"></i></button>
        <button ng-click="completarEdicao()"class="btn btn-success btn-sm" type="button" ng-hide="ajaxFlag || !editFlag"><i class="glyphicon glyphicon-ok"></i></button>
        <button class="btn btn-danger btn-sm" type="button" ng-click="cancelarEdicao()" ng-hide="ajaxFlag || !editFlag"><i class="glyphicon glyphicon-remove"></i></button>
        <img src="/static/img/ajax.gif" ng-show="ajaxFlag" />
    </td>
    <td><span ng-hide="editFlag">{{ membro.nome }}</span><input ng-show="editFlag" type="text" ng-model="membroEdicao.nome" /></td>
    <td><span ng-hide="editFlag">{{ membro.cpf }}</span><input ng-show="editFlag" type="text" ng-model="membroEdicao.cpf" /></td>
    <td><span ng-hide="editFlag">{{ membro.rg }}</span><input ng-show="editFlag" type="text" ng-model="membroEdicao.rg" /></td>
    <td><span ng-hide="editFlag">{{ membro.data }}</span><input ng-show="editFlag" type="text" ng-model="membroEdicao.data" /></td>
    <td><span ng-hide="editFlag">{{ membro.endereco }}</span><input ng-show="editFlag" type="text" ng-model="membroEdicao.endereco" /></td>
    <td><span ng-hide="editFlag">{{ membro.telefone }}</span><input ng-show="editFlag" type="text" ng-model="membroEdicao.telefone" /></td>
    <td><span ng-hide="editFlag">{{ membro.cargo }}</span><input ng-show="editFlag" type="text" ng-model="membroEdicao.cargo" /></td>
    <td>{{ membro.id }}</td>
    <td>{{ membro.creation }}</td>
    <td>
        <button ng-click="apagar()" class="btn btn-danger btn-sm"  ng-hide="ajaxFlag"><i
                class="glyphicon glyphicon-trash"></i></button>
        <img src="/static/img/ajax.gif" ng-show="ajaxFlag" />
    </td>
</tr>