{% extends 'membros/membro_base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/membro.js"></script>
    <!--<script type="application/javascript" src="/static/js/membro_api_mock.js"></script>-->
    <script type="text/javascript">

        var rest = angular.module('rest', []);
        rest.factory('MembroApi', function($http){
            return{
                salvar: function(membro){
                    return $http.post('{{ rest_new_path }}', membro);
                },

                listar: function(){
                    return $http.post('{{ rest_list_path }}');
                },

                apagar: function(id){
                    return $http.post('{{ rest_delete_path }}', {id: id});
                },
                editar: function(membro){
                    return $http.post('{{ rest_edit_path }}', {id: membro.id, nome: membro.nome, cpf: membro.cpf, rg: membro.rg, data: membro.data, endereco: membro.endereco, telefone: membro.telefone, cargo: membro.cargo});
                }
            };
        });


        var membroApp = angular.module('membroApp',['membroModulo', 'rest']);
        function MembroController($scope, MembroApi){
            $scope.membro = {nome: 'Priscila', cpf:'437.002.657-20', rg:'41.183.266-0', data:'21/03/1994', endereco:'Rua Chile', telefone:'3221-7070', cargo:'Membro'};
            $scope.mostrarFormFlag = false;
            $scope.membroLista = [];
            $scope.listandoFlag = true;
            MembroApi.listar().success(function(membros){
                $scope.membroLista = membros;
                $scope.listandoFlag = false;
            });
            $scope.mostrarOuEsconderForm = function(){
                $scope.mostrarFormFlag = !$scope.mostrarFormFlag;
            };

            $scope.adicionarMembro = function(membro){
                $scope.membroLista.unshift(membro);
            };

            $scope.removerMembro = function(membro){
                var membroLista = $scope.membroLista;
                for(var i = 0; i < membroLista.length; i += 1){
                    if(membro.id == membroLista[i].id){
                        membroLista.splice(i, 1);
                        break;
                    }
                }
            }
        }
    </script>

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" ng-app = "membroApp" ng-controller="MembroController">
                <h1>{% trans %}Membros {% endtrans %}  </h1>
                <button class="btn btn-success" ng-click = "mostrarOuEsconderForm()"><span class="glyphicon glyphicon-plus"></span> Adicionar Novo Membro</button>
                <br />
                <br />
                <membroform ng-show="mostrarFormFlag" membro="membro" nome-label="Nome Completo" cpf-label="CPF" rg-label="RG" data-label="Data de Nascimento"  endereco-label="Endereço" telefone-label="Telefone" cargo-label="Cargo"
                        save-complete="adicionarMembro(membro)"></membroform>
                <hr/>
                <h2>{% trans %}Lista de Membros{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th/>
                        <th>{% trans %}Nome{% endtrans %}</th>
                        <th>{% trans %}Cpf{% endtrans %}</th>
                        <th>{% trans %}Rg{% endtrans %}</th>
                        <th>{% trans %}Data{% endtrans %}</th>
                        <th>{% trans %}Telefone{% endtrans %}</th>
                        <th>{% trans %}Endereco{% endtrans %}</th>
                        <th>{% trans %}Cargo{% endtrans %}</th>
                        <th>{% trans %}Id{% endtrans %}</th>
                        <th>{% trans %}Criação{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr membrolinha ng-repeat="m in membroLista" membro="m" delete-complete="removerMembro(membro)"></tr>
                    </tbody>
                </table>
            <img id="ajax-save-gif" src="/static/img/ajax.gif" ng-show="listandoFlag">
            </div>
        </div>
    </div>
{% endblock %}