{% extends 'membros/membro_base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/membro.js"></script>
    <!--<script type="application/javascript" src="/static/js/membro_api_mock.js"></script>-->
    <script type="text/javascript">

        var rest = angular.module('rest', []);
        rest.factory('MembroApi', function($http){
            return{
                salvar: function(membro){
                    return $http.post('{{ rest_new_path }}', membro);
                }
            };
        });


        var membroApp = angular.module('membroApp',['membroModulo']);
        function MembroController($scope){
            $scope.membro = {nome: 'Priscila', cpf:'437.002.657-20', rg:'41.183.266-0', data:'21/03/1994', endereco:'Rua Chile', telefone:'3221-7070', cargo:'Membro'};
            $scope.mostrarFormFlag = false;

            $scope.mostrarOuEsconderForm = function(){
                $scope.mostrarFormFlag = !$scope.mostrarFormFlag;
            }
        }
    </script>

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" ng-app = "membroApp" ng-controller="MembroController">
                <h1>{% trans %}Membros {% endtrans %}  </h1>
                <button class="btn btn-success" ng-click = "mostrarOuEsconderForm()"><span class="glyphicon glyphicon-plus"></span> Adicionar Novo Membro</button>
                <br />
                <br />
                <membroform ng-show="mostrarFormFlag" membro="membro" nome-label="Nome Completo" cpf-label="CPF" rg-label="RG" data-label="Data de Nascimento"  endereco-label="Endereço" telefone-label="Telefone" cargo-label="Cargo"></membroform>
                <hr/>
                <h2>{% trans %}Lista de Membros{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th/>
                        <th>{% trans %}Id{% endtrans %}</th>
                        <th>{% trans %}Criação{% endtrans %}</th>
                        <th>{% trans %}Nome{% endtrans %}</th>
                        <th>{% trans %}Cpf{% endtrans %}</th>
                        <th>{% trans %}Rg{% endtrans %}</th>
                        <th>{% trans %}Data{% endtrans %}</th>
                        <th>{% trans %}Telefone{% endtrans %}</th>
                        <th>{% trans %}Endereco{% endtrans %}</th>
                        <th>{% trans %}Cargo{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for membro in membros %}
                        <tr>
                            <td><a href="/editar/home/editar_form/{{ membro.id }}" class="btn btn-success btn-sm"><i
                                    class="glyphicon glyphicon-pencil"></i></a></td>
                            <td>{{ membro.id }}</td>
                            <td>{{ membro.creation }}</td>
                            <td>{{ membro.nome }}</td>
                            <td>{{ membro.cpf }}</td>
                            <td>{{ membro.rg }}</td>
                            <td>{{ membro.data }}</td>
                            <td>{{ membro.endereco }}</td>
                            <td>{{ membro.telefone }}</td>
                            <td>{{ membro.cargo }}</td>
                            <td>
                                <form action="/excluir/home/delete_form/{{ membro.id }}" method="post" onsubmit="return confirm('{{_('Are you sure to delete? Press cancel to avoid deletion.')}}');">
                                    {{ csrf_input() }}
                                    <button class="btn btn-danger btn-sm"><i
                                            class="glyphicon glyphicon-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}