
<td><button ng-click="edit($index)" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-pencil"></i></button></td>
<td>{[ pessoa.nome ]}</td>
<td>{[ pessoa.cpf ]}</td>
<td>{[ pessoa.rg ]}</td>
<td>{[ pessoa.data ]}</td>
<td>{[ pessoa.telefone ]}</td>
<td>{[ pessoa.endereco ]}</td>
<td>{[ pessoa.cargo ]}</td>
<td>{[ pessoa.id ]}</td>
<td>{[ pessoa.creation ]}</td>
<td><button ng-click="delete($index)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></button></td>
